<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div>&copy;Wander private limited</div>
        <div class="f-info-links">
            <a href="/privcy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>