<% layout("/layouts/boilerplate")%>
<body>
    <h1>All Listings</h1>
    <!--<form method="get" action="/listings/new">
        <button>create new route</button>
    </form>-->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of alllisting){ %>
        <a href="/listings/<%= listing._id%>" class="listing-link">
    <div class="card col listing-card"  style="width: 18rem;">
    <img class="card-img-top" src="<%= listing.image%>" alt="listing-image" style="height:20rem"/>
    <div class="card-img-overlay"></div>
    <div class="card-body">
    <p class="card-text">
        <b><%= listing.title %></b>
        <br>&#8377;<%=listing.price%>/night
    </p>
    </div>
    </div>
    </a>
    <% } %>
</div>