<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <%- layout("/layouts/boilerplate") %>
    <br><br/>
    <div class="row">
    <div class="col-8 offset-2">
    <h3>create a new Listing</h3>
    <form class="needs-validation" method="post" action="/listings" novalidate>
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
            <input required name="listing[title]" placeholder="enter title" type="text" class="form-control"/>
             <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">   
            <label for="description" class="form-label">Description</label>
            <textarea  required name="listing[description]" placeholder="enter description" class="form-control"></textarea>
            <div class="invalid-feedback" > Please enter a short decription</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input  name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input  required name="listing[price]" placeholder="enter price" type="number" class="form-control" />
            <div class="invalid-feedback">Price Should be Valid</div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]" required placeholder="enter country" type="text" class="form-control"/>
            <div class="invalid-feedback">country Should be Valid</div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" required placeholder="enter location" type="text" />
            <div class="invalid-feedback">Location Should be Valid</div>
        </div>
        <div>
            <button class="btn btn-dark add-btn mt-3">Add</button>
        </div>
    </form>
    <br><br/>
    </div>
    </div>
</body>
</html>